{#
/**
 * @file
 * Default theme implementation of a datetime form element.
 *
 * Available variables:
 * - attributes: HTML attributes for the datetime form element.
 * - content: The datelist form element to be output.
 *
 * @see template_preprocess_datetime_form()
 *
 * @ingroup themeable
 */
#}
{%set subclass = "" %}
{% for class in  element['#attributes']['class'] %}
        {% set subclass = class %}
{% endfor %}
{% set classes = [
  'container-inline',
  subclass
]
%}
<div class="{{ attributes.class.add(classes) }}"{{ attributes|without('class') }}>
  {{ content }}
</div>
