{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper. The 'class' attribute
 *   contains the following classes by default:
 *   - taxonomy-term: The current template type, i.e. "theming hook".
 *   - vocabulary-[vocabulary-name]: The vocabulary that this term belongs to.
 *     For example, if the term belongs to a vocabulary called "Tags" then the
 *     class would be "vocabulary-tags".
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: The vocabulary of the term.
 *   - uuid: The unique id of the term.
 *   - label: The term label.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'taxonomy-term',
  'vocabulary-' ~ term.bundle|lower
]
%}
<div id="taxonomy-term-{{ term.id }}" class="{{ attributes.class.add(classes) }}"{{ attributes|without('class') }}}>
  {{ title_prefix }}
  {% if not page %}
    <h2><a href="{{ url }}">{{ name }}</a></h2>
  {% endif %}
  {{ title_suffix }}
  <div class="content">
    {{ content }}
  </div>
</div>
