{#
/**
 * @file
 * Default theme implementation to present the source of the feed.
 *
 * The contents are rendered below feed listings when browsing source feeds.
 * For example, "example.com/aggregator/sources/1".
 *
 * Available variables:
 * - source_icon: Feed icon linked to the source. Rendered through
 *   feed-icon.html.twig.
 * - source_image: Image set by the feed source.
 * - source_description: Description set by the feed source.
 * - source_url: URL to the feed source.
 * - last_checked: How long ago the feed was checked locally.
 *
 * @see template_preprocess_aggregator_feed_source()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'feed-source',
]
%}
<div class="{{ attributes.class.add(classes) }}"{{ attributes|without('class') }}>
  {{ source_icon }}
  {{ source_image }}
  <p class="feed-description">{{ source_description }}</p>
  <dl class="feed-details">
    <dt class="feed-url">{{ 'URL'|t }}</dt>
    <dd>{{ source_url }}</dd>
    <dt class="feed-updated">{{ 'Updated'|t }}</dt>
    <dd>{{ last_checked }}</dd>
  </dl>
</div>
