{#
/**
 * @file
 * Default theme implementation to present a feed item in an aggregator page.
 *
 * Available variables:
 * - feed_url: URL to the originating feed item.
 * - feed_title: Title of the feed item.
 * - source_url: Link to the local source section.
 * - source_title: Title of the remote source.
 * - source_date: Date the feed was posted on the remote source.
 * - content: Feed item content.
 *
 * @see template_preprocess_aggregator_item()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'feed-item',
]
%}
<div class="{{ attributes.class.add(classes) }}"{{ attributes|without('class') }}>
  <h3 class="feed-item-title">
    <a href="{{ feed_url }}">{{ feed_title }}</a>
  </h3>

  <div class="feed-item-meta">
    {% if source_url %}
      <a href="{{ source_url }}" class="feed-item-source">{{ source_title }}</a> -
    {% endif %}
    <span class="feed-item-date">{{ source_date }}</span>
  </div>

  {% if content %}
    <div class="feed-item-body">
      {{ content }}
    </div>
  {% endif %}
</div>
