#permissions td.module {
  font-weight: bold;
}
#permissions td.permission {
  padding-left: 1.5em; /* LTR */
}
[dir="rtl"] #permissions td.permission {
  padding-left: 0;
  padding-right: 1.5em;
}
#permissions tr.odd .form-item,
#permissions tr.even .form-item {
  white-space: normal;
}
#user-admin-settings .details-description {
  font-size: 0.85em;
  padding-bottom: .5em;
}

/**
 * Password strength indicator.
 */
.password-strength__title,
.password-strength__text {
  display: inline;
}
.password-strength__meter {
  background-color: #ebeae4;
  height: 0.5em;
}
.password-strength__indicator {
  height: 100%;
  width: 0%;
  background-color: #77b259;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}
input.password-confirm,
input.password-field,
.password-strength {
  width: 40%;
}
div.password-confirm {
  visibility: hidden;
  width: 40%;
}
div.form-item div.password-suggestions {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  max-width: 34.7em;
  border: 1px solid #b4b4b4;
}
div.password-suggestions ul {
  margin-bottom: 0;
}
.confirm-parent,
.password-parent {
  clear: left; /* LTR */
  margin: 0;
  max-width: 33em;
  overflow: hidden;
}
[dir="rtl"] .confirm-parent,
[dir="rtl"] .password-parent {
  clear: right;
}

